@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital@1&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  text-align: center;
}

body {
  height: 100vh;
  width: 100%;
}

.fondo {
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.642),
      rgba(0, 0, 0, 0.642)
    ),
    url("../assets/imagenes/cafeback.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.borroso {
  backdrop-filter: blur(
    5px
  ); /*efecto de esmerilado sobre un div, queda el efecto sobre la imagen de fondo*/
  height: 100%;
  z-index: 2;
}
.colorNav {
  background-color: #47806159;
}
.nav-link {
  font-size: 1.2rem;
}

.navbar-nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.galeria {
  width: 100%;
}
header {
  background-color: #354f52a1;
}
/* Animación para el efecto de aparición de las letras */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* Estilos para el título h1 */
h1 {
  color: #fff;
  font-family: monospace;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation: typing 4s steps(30, end) infinite;
}

/* Estilos para el cursor del título */
h1::after {
  animation: blink-caret .4s step-end infinite;
}

/* Cursor animado */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}
h1 {
  color: rgb(135, 199, 162);
}
.Colortitle {
  color: white;
  font-size: 20px;
}

/* Seccion nosotros */
.card {
  color: #fff3f3bb;
  background-color: #52796f42;
}


.carousel-inner {
  height: 100%;
}
#carouselExampleIndicators {
  position: relative;
  z-index: 1;
}
.carousel-inner img {
  width: auto;
  height: 80vh;
  object-fit: cover;
}
footer {
  background-color: #52796f;
  height: 100px;
  margin-top: 50px;

}
.linkNavFooter {
  text-decoration: none;
  color: white;
  display: inline-block;
  margin: 0 20px;
  transition: transform 0.3s ease; /* Agrega transición para suavizar el efecto */

}

/* iconos de redes sociales */

.iconos-redes{
  margin-top: 20px;
  margin-bottom: 10px;
  height: 25px;

}

.titulo-form{
  color: white;
  font-size: 20px;
}

#reason {
  margin-bottom: 20px;
  width: 100%;
  height: 30px;
}
/*estilado pagina de contacto*/
.contenedorMain {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.642),
      rgba(0, 0, 0, 0.642)
    ),
    url("../assets/imagenes/pexels-zumrad-normatova-11875719.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.contact-box {
  max-width: 850px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #366855bd;
  box-shadow: 0px 0px 19px 5px rgba(119, 138, 33, 0.19);
}
.left {
  background: url("../assets/imagenes/pexels-ketut-subiyanto-4350205.jpg")
    no-repeat center;
  background-size: cover;
  height: 100%;
}
.right {
  padding: 25px 40px;
}
h2 {
  position: relative;
  padding: 0 0 10px;
  margin-bottom: 10px;
}
h2::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 4px;
  width: 50px;
  border-radius: 2px;
  background-color: #52796f;
}
.field {
  width: 100%;
  border: 2px solid #183d288f;
  outline: none;
  background-color: #fdffff;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  margin-bottom: 22px;
  transition: all 0.3s ease-in-out;
}
.field:hover {
  background-color: rgba(115, 238, 181, 0.527);
}
textarea {
  min-height: 150px;
}
.btn {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #4bcc616c;
  color: #0a0a0a;
  font-size: 1.1rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  background-color: #42724a;
}
.field:focus {
  border: 2px solid #078627;
  background-color: #447063;
}
@media screen and (max-width: 768px) {
  .galeria {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
  }
  .icon {
    font-size: 1.5rem;
  }
  .piePagina {
    height: 3rem;
  }
  /* pagina contacto*/
  .contenedorMain {
    padding: 20px;
  }
  .contact-box {
    grid-template-columns: 1fr;
  }
  .left {
    background-size: cover;
    height: 100%;
  }
  .right {
    padding: 25px 20px;
  }
}
/*estilado pagina curiosidades*/
main.row {
  display: flex;
}

main .col-lg-6 {
  padding: 20px;
  flex: 1; /* Ajusta el tamaño de las columnas */
}
.imagen-cafe {
  width: 100%; /* Porcentaje del ancho del contenedor */
  height: auto; /* Altura automática para mantener la proporción */
  max-width: 500px; 
  max-height: 600px;
}
.text-green {
  color: #508d50;
}

/*estilado pagina servicios*/
.fondo-dos {
  background-image: url(../assets/imagenes/pexels-sasha-kim-9414272.jpg);
}
.servicio-img {
  max-width: 100%;
  height: auto;
}
.linkNavFooter {
  width: 20px;
  height: auto;
  margin: 0 10px; /* Espacio entre los iconos */
  animation: float 3s infinite; /* Agregamos la animación */
}

/* La animación para hacer que los iconos floten */
@keyframes float {
  0% {
    transform: translateY(0); /* No se mueve en el eje Y */
  }
  50% {
    transform: translateY(-5px); /* Se eleva ligeramente */
  }
  100% {
    transform: translateY(0); /* Vuelve a la posición inicial */
  }
}

.menu-cafeteria {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
.menu-cafeteria-columna {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}
h2 {
  margin-bottom: 10px;
  color: #0a0a0a;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  margin-bottom: 5px;
}
.col-md-6 a{ 
    text-decoration: none;
    color: inherit; 
}
.col-md-6 a:hover {
  color: #42724a;
}
.boton-regreso {
  text-decoration: none; 
  color: inherit; 
}
.boton-regreso a:hover{
  color: #42724a;
}
.imagen-cafe {
@media (max-width: 768px) {
  main .col-lg-6 {
        width: 100%;
      }}
    }