@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital@1&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  text-align: center;
}

body {
  height: 100vh;
  width: 100%;
}
.bordeiconocafe{
  border-radius: 50%;
  width:60px;
  height:60px;
}

.fondo {
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.642),
      rgba(0, 0, 0, 0.642)
    ),
    url("../assets/imagenes/cafeback.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.colorNav {
  background-color: #47806159;
}
.nav-link {
  font-size: 1.2rem;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.navbar-nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.galeria {
  width: 100%;
}
header {
  background-color: #354f52a1;
}
/* Animación para el efecto de aparición de las letras */
.titulo-principal-index {
  color: #49ac6a;
  font-family: monospace;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation: typing 4s steps(30, end) infinite;
}

.titulo-principal-index::after {
  animation: blink-caret .4s step-end infinite;
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

/* Seccion nosotros */
.card {
  background-color: #2a3f3aa9;
  margin-bottom: 20px;
}

.carousel-inner {
  height: 100%;
}
#carouselExampleIndicators {
  position: relative;
  z-index: 1;
}
.carousel-inner img {
  width: auto;
  height: 80vh;
  object-fit: cover;
}

/*estilado pagina de contacto*/
.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.642),
      rgba(0, 0, 0, 0.642)
    ),
    url("../assets/imagenes/pexels-zumrad-normatova-11875719.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
}

.contact-box {
  max-width: 850px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #366855bd;
  box-shadow: 0px 0px 19px 5px rgba(119, 138, 33, 0.19);
}
.left {
  background: url("../assets/imagenes/pexels-ketut-subiyanto-4350205.jpg")
    no-repeat center;
  background-size: cover;
  height: 100%;
}
.right {
  padding: 25px 40px;
}
h2 {
  position: relative;
  padding: 0 0 10px;
  margin-bottom: 10px;
  color: whitesmoke;
}

.field {
  width: 100%;
  border: 2px solid #183d288f;
  outline: none;
  background-color: #fdffff;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  margin-bottom: 22px;
  transition: all 0.3s ease-in-out;
}

#emailHelp{
  margin-bottom: 10px;
}

textarea {
  min-height: 150px;
  resize: none;
}
.btn {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #4bcc616c;
  color: #0a0a0a;
  font-size: 1.1rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  background-color: #42724a;
}
.field:focus {
  border: 2px solid #078627;

}
.iconos-redes {
  width: 25px;
  height: 25px;
  margin-top: 20px;
  margin-bottom: 10px;
}

#reason {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
}

/* Termina estilos de contacto */

@media screen and (max-width: 768px) {
  .galeria {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
  }
  .icon {
    font-size: 1.5rem;
  }
  .piePagina {
    height: 3rem;
  }
  /* pagina contacto*/

  .contact-box {
    grid-template-columns: 1fr;
  }
  .left {
    background-size: cover;
    height: 100%;
  }
  .right {
    padding: 25px 20px;
  }
}
/*estilado pagina curiosidades*/
main.row {
  display: flex;
}

main .col-lg-6 {
  padding: 20px;
  flex: 1; /* Ajusta el tamaño de las columnas */
}
.imagen-cafe {
  width: 100%; /* Porcentaje del ancho del contenedor */
  height: auto; /* Altura automática para mantener la proporción */
  max-width: 250px; 
  max-height: 350px;
}
.text-green {
  color: #508d50;
}

/*estilado pagina servicios*/
.fondo-dos {
  background-color: #536050;
}
.servicio-img {
  max-width: 100%;
  height: auto;
  border-radius: 10px; 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 

}
.giftcard-main{
  background-color: #536050;
}
.img-gift-card{
  max-width: 25%;
  height: auto;
}
.giftcard-boton{
  color: #49ac6a;
  margin-top: 10px;
}

/*
.linkNavFooter {
  width: 20px;
  height: auto;
  margin: 0 10px; 
  animation: float 3s infinite; 
}
*/

/*menu de cafeteria del servicio*/
.h3-servicios{
  color: #fffefe;
  margin-top: 10px;
}
.contenedor-servicios {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 300px;}

/*
.boton-regreso {
  text-decoration: none; 
  color:inherit;
}
*/
.flip-card-back a{
  text-decoration: none; 
  color:#bbb
}
.flip-card-back a:hover {
  color: #42724a;
}

.img-container {
  position: relative;
}

.img-text {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  color:#ccc;
  font-size: large;
}

/*probando imagen con giro*/
.contenedor {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px; /* Agrega una perspectiva para la transformación 3D */
  margin: 10px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg); /* Rota la tarjeta al poner el cursor sobre ella */
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* Oculta la parte trasera */
}

.flip-card-front {
  background-color: #bbb; /* Color de fondo de la cara frontal */
}

.flip-card-back {
  background-color:#52796f; /* Color de fondo de la cara trasera */
  color: white;
  transform: rotateY(180deg); /* Inicia girada hacia atrás */
  padding: 20px;
}
.flip-card-back p{
  font-size: small;
}

.flip-card img {
  width: 100%;
  height: 100%;
}

/* La animación para hacer que los iconos floten */
@keyframes float {
  0% {
    transform: translateY(0); /* No se mueve en el eje Y */
  }
  50% {
    transform: translateY(-5px); /* Se eleva ligeramente */
  }
  100% {
    transform: translateY(0); /* Vuelve a la posición inicial */
  }
}
/* seccion nosotros */
.fondo-nosotros {
  background-image: url("../assets/imagenes/fondo-nosotros2.jpg");
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.642),
      rgba(0, 0, 0, 0.642)
  ),
  url("../assets/imagenes/fondo-nosotros2.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.seccion-quienes-somos {
  padding: 1rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  border-radius: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.image-container-nosotros {
  height: 100%;
}
.card-title-nosotros1 {
  font-size: 24px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  text-align: center;
  margin-top: 5px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:white;
  margin-top: 40px;
}

.card-title-nosotros {
  font-size: 26px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:white;
}

.card-text-nosotros {
  font-size: 18px;
  text-align: center;
  margin-top: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: transparent;
  color: white;
}

.card-body1{
  height: 360px;
  background-color: rgba(253, 253, 253, 0);
  margin-left: 30px;
}

.card-de-nosotros {
  margin-left: 20px;
}

.nosotros-imagen1 {
  height: 360px;
  width: 250px;
}
/* seccion vivero */

.seccion-vivero{
  margin-top: 1.5rem;
  padding: 1rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  border-radius: 0.25rem;
}


/* Seccion del mapa */
.mapa{
  width: 100%;
}

.mapa-container {
  width: 100%;
}

.mapa {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

/* 

.section {
  color: white; 
}



.section h2 {
  color: white; 
  font-size: 28px; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
  text-align: center; 
}


.section p {
  color: white; 
  font-size: 18px; 
  text-align: justify; 
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); 
}

*/
.card-title {
  color: white; 
  font-size: 26px; 
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}


.card-text {
  color: white; 
  font-size: 16px; 
  text-align: justify;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); 
}
*/
.main {
  margin-bottom: 50px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col-lg-4 {
  flex-basis: calc(33.33% - 10px); /* Ajusta según sea necesario para dejar espacio entre las columnas */
  margin-bottom: 20px; /* Espaciado entre las filas */
}

/*seccion menu*/
.menu-pagina-principal {
  background-color: #536050;
  }
  .menu-cafeteria {
    display: flex;
    margin: 20px;
  }
  
  ul {
    list-style-type: none;
  }
  
  li {
    margin-bottom: 5px;
    color:#634619;
  }
  
  .menu-cafeteria-columna {
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 13px;
  }
  
  .seccion-contendora-menu {
    width: 60%;
    height: 1000px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border: 20px solid #634619;
    border-radius: 10px;
    background-color:#fef8e8;
  }
  
  .seccion-menu-arriba, .seccion-menu-abajo, .seccion-menu-final {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 80%;
    height: 200px;
    margin-top:50px;
    margin-right: 180px;
    margin-bottom: 0px;
    margin-left:60px;
    background-color:#fef8e8;
  }
  
  .menu-titulo-principal {
    text-align: center;
    color:#634619;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 30px;
  }
  
  .bebidas-comida {
    text-align: center;
    font-family:fantasy;
    text-transform: uppercase;
    font-size: large;
    color:#634619;
  }
  
  .productos-bar {
    text-align: center;
  }
  
  .productos-bar li {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .menu-cafeteria-boton {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .boton-regreso {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #634619;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-bottom: 30px;
  }
  
  .boton-regreso:hover {
    background-color: #0056b3;
  }
  
  .boton-descargar {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #634619;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-bottom: 30px;
    margin-left: 10px;
  }
  
  .boton-descargar:hover {
    background-color: #0056b3;
    color:#fff;
  }

  /*estilos para el footer*/

  .footer-divs {
    background-color: #52796f;
    width: 100%;
    height: 200px;
    padding: 10px 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}

.footer-horarios,
.footer-medio,
.footer-derecha {
    color: white;
    width: 100%;
}


.footer-medio {
    display: flex;
    flex-direction: column;
}
.linkNavFooter {
    text-decoration: none;
    color: white;
    display: inline-block;
    margin: 0 10px;
    transition: transform 0.3s ease;
}

/* iconos redes */
.linkNavFooter .fab.fa-instagram {
    color: #bc2a8d;
    font-size: 24px;
}

.linkNavFooter .fab.fa-facebook {
    color: white;
    font-size: 25px;
}

.linkNavFooter .fab.fa-facebook.fa-fade {
    opacity:1;
}

.linkNavFooter .fab.fa-instagram {
    color: white;
    font-size: 25px;
}

.linkNavFooter .fab.fa-instagram {
    opacity: 1;
}

.fab.fa-whatsapp {
    color:white;
    font-size: 20px;

}
.linkNavFooter .fab.fa-youtube {
    color: white;
    font-size: 22px;
}
.linkNavFooter .fab.fab.fa-youtube{
opacity: 1;
}

.linkNavFooter .fab.fa-tiktok {
    color: white;
    font-size: 22px;
    margin-left: 7px;
}
.linkNavFooter .fab.fab.fab.fa-tiktok{
opacity: 1;
}



.mapa-lista {
    list-style-type: none;
    padding: 0;
}

.mapa-lista li a {
    color: white;
    text-decoration: none;
}

.mapa-lista li a:hover {
    color: white;
}


.titulo-footer-final {
    font-size: 15px;
    text-decoration: underline;
}

.titulo-footer-final-2 {
  font-size: 15px;
  text-decoration: underline;
  margin-left: 110px;
}
.icono-con-fade {
    display: inline-block;

  }
.icono-con-fade i {
    color: #000;
    font-size: 24px;
    opacity: 0.5;
    transition: opacity 0.3s ease; /
}

.icono-con-fade i:hover {
    opacity: 1;
}


.linkNavFooter {
    display: inline-flex;
    align-items: center;
    margin-bottom: 5px;
    margin-left: 200px;
}

.nombre-red {
    margin-left: 5px;
    color: white;
    transition: color 0.3s;
}

.nombre-red:hover,
.nombre-red:active,
.nombre-red:visited {
    color: white;
}


.reserva-texto {
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: white;
}

.linkNavFooter {
    display: inline-flex;
    margin-bottom:5px;
}

.linkNavFooter i {
    margin-left: 5px;
}


.final-debajo {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: black;
}

.horarios-dias{
    margin-bottom: 5px;
    color: white;
}

.horario-lista {
    list-style: none;
}

