@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital@1&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  text-align: center;
}

body {
  height: 100vh;
  width: 100%;
}

.fondo {
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.642),
      rgba(0, 0, 0, 0.642)
    ),
    url("../assets/imagenes/cafeback.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.borroso {
  backdrop-filter: blur(
    5px
  ); /*efecto de esmerilado sobre un div, queda el efecto sobre la imagen de fondo*/
  height: 100%;
  z-index: 2;
}
.colorNav {
  background-color: #47806159;
}
.nav-link {
  font-size: 1.2rem;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}



.navbar-nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.galeria {
  width: 100%;
}
header {
  background-color: #354f52a1;
}
/* Animación para el efecto de aparición de las letras */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* Estilos para el título h1 */
h1 {
  color: #fff;
  font-family: monospace;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation: typing 4s steps(30, end) infinite;
}

/* Estilos para el cursor del título */
h1::after {
  content: "|";
  animation: blink-caret .4s step-end infinite;
}

/* Cursor animado */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}
h1 {
  color: rgb(135, 199, 162);
}
h2 {
  color: white;
  font-size: 20px;
}
.card {
  color: #fff3f3bb;
  background-color: #52796f42;
}

img {
  width: 100%;
}
.carousel-inner {
  height: 100%;
}
#carouselExampleIndicators {
  position: relative;
  z-index: 1;
}
.carousel-inner img {
  width: auto;
  height: 80vh;
  object-fit: cover;
}
footer {
  background-color: #52796f;
  width: 100%;
  padding: 10px 0;
  text-align: center;
}


.linkNavFooter {
  text-decoration: none;
  color: white;
  display: inline-block;
  margin: 0 10px;
  transition: transform 0.3s ease; 
  
}
/*estilado pagina de contacto*/
.contenedorMain {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.642),
      rgba(0, 0, 0, 0.642)
    ),
    url("../assets/imagenes/pexels-zumrad-normatova-11875719.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding: 20px;
}

.contact-box {
  max-width: 850px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #366855bd;
  box-shadow: 0px 0px 19px 5px rgba(119, 138, 33, 0.19);
}
.left {
  background: url("../assets/imagenes/pexels-ketut-subiyanto-4350205.jpg")
    no-repeat center;
  background-size: cover;
  height: 100%;
}
.right {
  padding: 25px 40px;
}
h2 {
  position: relative;
  padding: 0 0 10px;
  margin-bottom: 10px;
}
h2::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 4px;
  width: 50px;
  border-radius: 2px;
  background-color: #52796f;
}
.field {
  width: 100%;
  border: 2px solid #183d288f;
  outline: none;
  background-color: #fdffff;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  margin-bottom: 22px;
  transition: all 0.3s ease-in-out;
}
.field:hover {
  background-color: rgba(115, 238, 181, 0.527);
}
textarea {
  min-height: 150px;
}
.btn {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #4bcc616c;
  color: #0a0a0a;
  font-size: 1.1rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  background-color: #42724a;
}
.field:focus {
  border: 2px solid #078627;
  background-color: #447063;
}
@media screen and (max-width: 768px) {
  .galeria {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
  }
  .icon {
    font-size: 1.5rem;
  }
  .piePagina {
    height: 3rem;
  }
  /* pagina contacto*/
  .contenedorMain {
   
  }
  .contact-box {
    grid-template-columns: 1fr;
  }
  .left {
    background-size: cover;
    height: 100%;
  }
  .right {
    padding: 25px 20px;
  }
}
/*estilado pagina servicios*/
.fondo-dos {
  background-image: url(../assets/imagenes/Cafebacke.jpg);
  background-size: cover;
}
.servicio-img {
  max-width: 100%;
  height: auto;
  border-radius: 10px; 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 

}
.contenido h3,
.contenido h4,
.contenido p {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}
.contenido{
    padding: 20px;    
}

.linkNavFooter {
  display: inline-block;
  margin: 0 10px; /* Espacio entre los iconos */
  animation: float 4s infinite; /* Agregamos la animación */
}

/* La animación para hacer que los iconos floten */
@keyframes float {
  0% {
    transform: translateY(0); /* No se mueve en el eje Y */
  }
  50% {
    transform: translateY(-5px); /* Se eleva ligeramente */
  }
  100% {
    transform: translateY(0); /* Vuelve a la posición inicial */
  }
}
/* Estilos para el texto en todas las secciones */

.section {
  color: white; /* Cambiar el color del texto a blanco */
}

/* Estilos para los títulos */

.section h2 {
  color: white; /* Cambiar el color del título a blanco */
  font-size: 28px; /* Tamaño de fuente */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Sombra del texto */
  text-align: center; /* Alinear el texto al centro */
}

/* Estilos para el texto en los párrafos */
.section p {
  color: white; /* Cambiar el color del texto a blanco */
  font-size: 24px; /* Tamaño de fuente */
  text-align: justify; /* Alinear el texto justificado */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Sombra del texto */
}

/* Estilos para el título h5 */
.card-title {
  color: white; /* Cambiar el color del texto a blanco */
  font-size: 28px; /* Tamaño de la fuente */
  text-align: center; /* Alinear el texto al centro */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra del texto */
}

/* Estilos para el párrafo */
.card-text {
  color: white; 
  font-size: 24px; 
  text-align: justify;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); 
}
.main {
  margin-bottom: 50px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col-lg-4 {
  flex-basis: calc(33.33% - 10px); /* Ajusta según sea necesario para dejar espacio entre las columnas */
  margin-bottom: 20px; /* Espaciado entre las filas */
}


